@charset "UTF-8";

/*
    em HTML é id    = em CSS # (Só pode um elemento)
    em HTML é class = em CSS é .(Pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 100, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 100, 0);
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

.basico{
    color:rgb(43, 104, 40);
}

.intermediario{
    color:rgb(193, 196, 26);
}

.avancado{
    color:rgb(146, 24, 24);
    font-weight: bold;
}

.destaque{
    background-color: rgb(199, 199, 99);
}