@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: lightblue;
}

.logo{
    padding: 10px;
    margin-left: 100px;
}

nav{
    display: inline;
    margin-left: 400px;
}

.menu{
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    padding: 10px;
    border-radius: 5px;
}

.menu:hover{
    color: black;
    background-color: rgb(69, 183, 221);
}